/** generale **/
.clr {
	clear:both;
}

.locandina img {
	background:#dedede;
	padding:5px;
	border:1px solid #ccc;
	max-width:150px;
	max-height:200px;
}
.icon-48-events {
	background-image: url(../media/com_xcal/images/icon48event.png);
}



/** colore **/
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../image/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../image/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../image/marker.png) no-repeat;
}

.color {
	width:300px;
}

.color .form-item {
	float:left;
}

.color #picker {
	float:left;
	width:200px;
}


/** mappa **/
.ui-autocomplete {
	background-color: white;
	width: 300px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
}

/** calendario **/
fieldset.adminform textarea.date {height: 130px; }
#add {line-height: 28px; margin-left:145px;}
table#dTable {width: 113px; border:1px solid #cdcec9;}